/* PAGE */
body {
    background-color: #E5E5E5;
}

.template-left {
    width: 70px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    float: left;
    text-align: center;
    background-color: #0D28A6;
}

.template-right {
    margin-left: 70px;
    background-color: white
}
/*  */

/* IMAGE */
.template-img-box {
    width: 34px;
    height: 34px;
    margin: 18px;
}

.template-img-home {
    width: 70px;
    height: 64px;
}

.template-img-box-nav {
    width: 100px;
    height: 34px;
}

.template-img-menu {
    width: 24px;
    height: 24px;
    margin-left: 120px;
}
/*  */

/* PAGE LEFT */
ul	{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #0D28A6;
}
li a {
    display: block;
    padding: 0;
    text-decoration: none;
}
li a:hover {
    background-color: rgba(255, 255, 255, 0.3);
   color: white;
}

.template-left-active {
    background-color: rgba(255, 255, 255, 0.3);
}
/*  */


/* PAGE RIGHT */
.template-right-navbar {
    width: 100%;
    height: 70px;
    top: 0;
    left: 70px;
    position: fixed;
    z-index: 999;
    background-color: white;
}

.template-right-sidebar {
    top: 70px;
    left: 70px;
    width: 220px;
    height: 100%;
    position: fixed;
    background-color: white;
}

.template-right-content {
    margin-left: 220px;
    margin-top: 102px;
    width: auto;
    background-color: #E5E5E5;
}
/*  */

/* PAGE RIGHT NAVBAR */
.template-right-navbar-isi {
    margin-left: 24px;
    margin-top: 18px;
}

.template-right-navbar-right {
    /* display: inline-block; */
    margin-top: -35px;
    margin-right: 76px;
}

.template-right-navbar-search {
    width: 174px;
    height: 36px;
}
/*  */

/* PAGE RIGHT SIDEBAR */
.template-right-sidebar-text-one {
    margin-left: 24px;
    margin-top: 30px;
    color: #8A8A8A;
}

.template-right-sidebar-text-two {
    width: 220px;
    height: 48px;
    padding: 11px 24px 11px 24px;
    background-color: #CFD4ED;
}
/*  */

/*  */
.template-alert {
    color: white;
    background-color: #73CA5C;
    text-align: center;
    width: 550px;
    /* display:block; */
    margin-top: -30px;
}

.template-alert-delete {
    color: white;
    background-color: #151515;
    text-align: center;
    width: 550px;
    /* display:block; */
    margin-top: -30px;
}
/*  */